#body {
background-image: url(22.jpg);
background-size: 100%;
}
#body1 {
background-color: white;
background-size: 100%;
}
.a {
color: lime;
}
#img1 {
widht: 1800px;
height: 900px;
}
#img2 {
widht: 2000px;
height: 1000px;
}
#th1 {
color: skyblue;
font-family: arial;
font-size: 72;
}
#th2 {
color: skyblue;
font-family: Times nwe Roman;
font-size: 26;
}
.3 {
color: white;
font-family: Times nwe Roman;
font-size: 20;
}